[submodule ".vim/bundle/python-mode"]
	path = .vim/bundle/python-mode
	url = https://github.com/klen/python-mode.git
[submodule ".vim/bundle/YouCompleteMe"]
	path = .vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = https://github.com/fatih/vim-go
[submodule ".vim/bundle/pythonhelper"]
	path = .vim/bundle/pythonhelper
	url = https://github.com/mgedmin/pythonhelper.vim
[submodule ".vim/bundle/vim-deus"]
	path = .vim/bundle/vim-deus
	url = git@github.com:beebeeep/vim-deus.git
